name: PR Integration Tests Report

on:
  workflow_run:
    workflows: ['PR Integration Tests']
    types:
      - completed

jobs:
  comment:
    name: Deploy Report
    if: >
      github.event.workflow_run.event == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GRAVITY_UI_APP_ID }}
          private-key: ${{ secrets.GRAVITY_UI_APP_PRIVATE_KEY }}
      - uses: gravity-ui/component-tests-deploy-action@v1
        with:
          project: playwright-tools
          github-token: ${{ steps.generate-token.outputs.token }}
          s3-key-id: ${{ secrets.STORYBOOK_S3_KEY_ID }}
          s3-secret-key: ${{ secrets.STORYBOOK_S3_SECRET_KEY }}
